#home {
  .hero-text {
    height: 50vh;
    display: flex;
    align-items: flex-end;

    img {
      width: 50%;
      padding-bottom: 3%
    }
  }

  .column {
    height: 50vh;
    position: relative;

    .hero-description {
      p {
        top: 1em;
      }
    }

    .hero-buttons {
      margin-top: 5vh;
      justify-content: left;
    }

    .hero-take-a-tour {
      position: absolute;
      bottom: 5vh;
    }
  }
}
