{% load static %}

<section id="contact" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <h3>
          Contact
        </h3>
        <p>
          Email me, meet me or text me on social media. Let me know what you think about my work or hire me! I am always happy to help!
        </p>
      </div> <!-- .column -->
    </div> <!-- .columns -->

    <div class="columns">
      <div class="column is-6">
        <h5>
          Drop me a line
        </h5>
        {% if form %}
          <form action="" method="post">
            {% csrf_token %}

            Non-field errors here

            <table>
              {% for field in form.visible_fields %}
                <tr>
                  <th>{{ field.label_tag }}</th>
                  <td>
                    {% if field.errors %}
                      {{ field.errors }}
                    {% endif %}

                    <div class="field">
                      {{ field }}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>

            <input type="submit" value="Submit">
          </form>
        {% elif sent %}
          <p>Successfully sent!</p>
        {% else %}
          <p>Could not send the message!</p>
        {% endif %}
      </div> <!-- .column -->

      <div class="column is-6">
        <h5>
          Meet me
        </h5>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <p>
                Aberystwyth, Wales
              </p>
            </div>
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <p>
                jesionka.patryk@gmail.com
              </p>
            </div>
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <p>
                GMT+01
              </p>
            </div>
          </div>
        </div>

        <h5>
          Or find me on social media
        </h5>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
          </div>
        </div>
      </div> <!-- .column -->
    </div> <!-- .columns -->
  </div> <!-- .container -->
</section>
