<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>I'm Making Websites</title>

    <meta name="author" content="Patryk Jesionka">
    <meta name="description" content="An overview of services I'm providing and projects I have done.">
    <meta name="keywords" content="frontend,backend,design,django,python,docker,bulma,html,css,java,script,web,development,services,projecects,websites,apps">
  </head>

  <body>
    {% block navbar %}{% include "partials/navbar.html" %}{% endblock %}

    template

    {% block content %}that part should be replaced{% endblock %}

    {% block footbar %}{% include "partials/footbar.html" %}{% endblock %}
  </body>
</html>
