{% extends "base.html" %}

{% block content %}
{% load static %}

<section id="hire-me" class="section">
  <div class="container">

    <div class="columns">
      <div class="column is-1"><!-- just some spacing --></div>

      <div class="column is-10">
        <h3 class="blue-text left-line blue">
          Hire me
        </h3>
        <p>
          Here, by filling up the simple form below you can let me know what your project is about and allow me to prove my skills one more time. If you got here by an accident go the <a href="/#projects">Project section</a> and check out my latest work.
        </p>
      </div>
    </div>

    <div class="columns top-line blue">
      <div class="column is-3">
        <h5 class="blue-text">
          Questionnaire
        </h5>
        {% if form %}
          <div>
            {% block hire-me-submit-button %}
              {% include "partials/text-button.html" with id="hire-me-submit-button" text="SUBMIT" blue=True form_id="hire_me_form" %}
            {% endblock %}
          </div>
        {% endif %}
      </div>
      <div class="column is-8">
        {% if form %}
          <form method="post" id="hire_me_form">
            {% csrf_token %}

            {{ form.name.errors }}
            <div class="field">
              <div class="control">
                {{ form.name }}
              </div>
            </div>

            {{ form.email.errors }}
            <div class="field">
              <div class="control">
                {{ form.email }}
              </div>
            </div>

            {{ form.project_type.errors }}
            <div class="field">
              {{ form.project_type.label }}
              <div class="control">
                {{ form.project_type }}
              </div>
            </div>

            {{ form.project_status.errors }}
            <div class="field">
              {{ form.project_status.label }}
              <div class="control">
                {{ form.project_status }}
              </div>
            </div>

            {{ form.description.errors }}
            <div class="field">
              <div class="control">
                {{ form.description }}
              </div>
            </div>

          </form>
        {% endif %}
      </div> <!-- .column.is-8 -->
    </div> <!-- columns -->

    {% if not form %}
      <div class="columns">
        <div class="column is-12">
          {% if sent %}
            <img class="form-submit-image" src="{% static '/img/forms/submitted-blue.png' %}">
            <h4 class="has-text-centered blue-text">Successfully submitted!</h4>
          {% else %}
            <img class="form-submit-image" src="{% static '/img/forms/failed-blue.png' %}">
            <h4 class="has-text-centered blue-text">Successfully submitted!</h4>
          {% endif %}
        </div>
      </div>
    {% endif %}

  </div> <!-- .container -->
</section>

<script type="text/javascript">
  // Load elements on the hire-me page
  window.addEventListener('load', function () {
    document.querySelectorAll('#hire-me .container')[0].style.opacity = 1;
  }, false);
</script>
{% endblock %}
