{% extends "base.html" %}

{% block content %}

<!-- Stylesheet -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home-page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}" />

<!-- Home -->
<section id="home" class="hero is-fullheight-with-navbar">
  <div class="container">

    <div class="hero-text left-line">
      <h1>
        <img src="{% static 'img/hero-background/hero-text.png' %}" alt="I am creating websites">
      </h1>
    </div>

    <div class="columns">
      <div class="column is-7 item">
        <div class="hero-description">
          <p>
            My name is Patryk Jesionka. I am providing design and full stack website development services for small
            and large buisnesses. Find out about my recent work or hire me to help your buisness stand out.
          </p>
        </div>


        <script type="text/javascript">
          function moveright(id){
            document.getElementById(id).style.left="80%";
          }

          function moveback(id){
            document.getElementById(id).style.left="0%";
          }
        </script>


        <div class="hero-buttons">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="btn-wrapper" onmouseover="moveright('movable1')" onmouseout="moveback('movable1')">
                  <img id="movable1" src="{% static 'img/buttons/diamond.png' %}">
                  <img src="{% static 'img/buttons/diamond.png' %}">
                  <button class="btn-with-text" onclick="alert('Hello world!')">MY WORK</button>
                </div>
              </div>
              <div class="level-item">
                <div class="btn-wrapper" onmouseover="moveright('movable2')" onmouseout="moveback('movable2')">
                  <img id="movable2" src="{% static 'img/buttons/diamond.png' %}">
                  <img src="{% static 'img/buttons/diamond.png' %}">
                  <button class="btn-with-text" onclick="alert('Hello world!')">HIRE ME</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          function moveright(arrow-id, frame-id){
            document.getElementById(id).style.left="80%";
          }

          function moveback(iarrow-id, frame-id){
            document.getElementById(id).style.left="0%";
          }
        </script>

        <div class="hero-take-a-tour">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="bottom-line"></div>
              </div>
              <div class="level-item">
                <div class="button-text blue-text">TAKE A TOUR</div>
              </div>
              <div class="level-item">
                <div class="arrow" onmouseover="close('arrow1', 'frame1')" onmouseout="open('arrow1', 'frame1')" style="position: relative; width: 3em; height: 4em;">
                  <img id="frame1" src="{% static 'img/buttons/frame@2x.png' %}" style="position: absolute; left: 0; top: 0;">
                  <img id="arrow1" src="{% static 'img/buttons/btn-down@2x.png' %}" style="position: absolute; left: 0; top: 25%;">
                </div>
              </div>
            </div>
          </div> <!-- .level -->
        </div> <!-- .hero-take-a-tour -->
      </div> <!-- .column -->
    </div> <!-- .columns -->
  </div> <!-- .container -->
</section>


<!-- Services -->
<section id="services" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <h3>
          Services
        </h3>
        <p>
          I base my design and development on modern concepts and technologies to solve emerging problems. I ensure continuous communication with clents to satisfy needs and deliver quality results at flexible prices.
        </p>
      </div>
    </div>
    <div class="columns is-centered">

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div> <!-- .card-image -->
          <div class="card-content has-text-centered">
            <div class="media">
              <div class="media-content">
                <h5>Design</h5>
              </div>
            </div> <!-- .media -->
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
              </p>
            </div> <!-- .content -->
          </div> <!-- .card-content -->
        </div> <!-- .card -->
      </div> <!-- .column.is-4 -->

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div> <!-- .card-image -->
          <div class="card-content has-text-centered">
            <div class="media">
              <div class="media-content">
                <h5>Front end</h5>
              </div>
            </div> <!-- .media -->
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
              </p>
            </div> <!-- .content -->
          </div> <!-- .card-content -->
        </div> <!-- .card -->
      </div> <!-- .column.is-4 -->

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div> <!-- .card-image -->
          <div class="card-content has-text-centered">
            <div class="media">
              <div class="media-content">
                <h5>Back end</h5>
              </div>
            </div> <!-- .media -->
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
              </p>
            </div> <!-- .content -->
          </div> <!-- .card-content -->
        </div> <!-- .card -->
      </div> <!-- .column.is-4 -->

    </div> <!-- .columns -->
    <div class="columns is-centered">
      <div class="column is-10">
        <h5>
          What about my experience?
        </h5>
        <p>
          My adventure with website development started over 7 years ago with basics of fron-end (HTML and CSS). 3 years later I learnt Python and shortly after that PHP and Laravel framework. Since then I moved back to Python and introduced myself to Django. For the past three years, I have also learnt graphic design and through my academic degree, I have developed my project management skills.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- Projects -->
<section id="projects" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <h3>
          Projects
        </h3>
      </div> <!-- .column -->
    </div> <!-- .columns -->

    {% if project_list %}
      {% for project in project_list %}
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-3by2">
              <!-- <img src="{{ project.img }}" alt="{{ project.title }}"> -->
              <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
            </figure>
            <h3>
              {{ project.date_finished }}
            </h3>
          </div>
          <div class="column is-8">
            <h4>
              <a href="{{ project.get_absolute_url }}">
                {{ project.title }}
              </a>
            </h4>
            <p>
              {{ project.prev_description }}
            </p>
          </div>
        </div> <!-- .columns -->
      {% endfor %}
    {% else %}
      <p>There is no projects that has been finished.</p>
    {% endif %}
  </div> <!-- .container -->
</section>


<!-- Contact -->
<section id="contact" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <h3>
          Contact
        </h3>
        <p>
          Email me, meet me or text me on social media. Let me know what you think about my work or hire me! I am always happy to help!
        </p>
      </div> <!-- .column -->
    </div> <!-- .columns -->

    <div class="columns">
      <div class="column is-6">
        <h5>
          Drop me a line
        </h5>
        {% if form %}
          <form action="" method="post">
            {% csrf_token %}

            Non-field errors here

            <table>
              {% for field in form.visible_fields %}
                <tr>
                  <th>{{ field.label_tag }}</th>
                  <td>
                    {% if field.errors %}
                      {{ field.errors }}
                    {% endif %}

                    <div class="field">
                      {{ field }}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>

            <input type="submit" value="Submit">
          </form>
        {% elif sent %}
          <p>Successfully sent!</p>
        {% else %}
          <p>Could not send the message!</p>
        {% endif %}
      </div> <!-- .column -->

      <div class="column is-6">
        <h5>
          Meet me
        </h5>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <p>
                Aberystwyth, Wales
              </p>
            </div>
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <p>
                jesionka.patryk@gmail.com
              </p>
            </div>
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <p>
                GMT+01
              </p>
            </div>
          </div>
        </div>

        <h5>
          Or find me on social media
        </h5>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="level-item">
              <figure class="image is-24x24">
                <img src="https://bulma.io/images/placeholders/24x24.png" alt="Placeholder image">
              </figure>
            </div>
          </div>
        </div>
      </div> <!-- .column -->
    </div> <!-- .columns -->
  </div> <!-- .container -->
</section>

{% endblock %}
