{% extends "base.html" %}

{% block content %}
<section id="project-datail" class="section">
  <div class="container">

    {% for project in projects %}
    <div class="columns">
      <div class="column is-7 left-line blue">
        <h2 class="blue-text">
          {{ project.title }}
        </h2>
        <h3 class="blue-text">
          {{ project.date_finished|date:"d/m" }}
        </h3>
      </div>
    </div>

    <div class="columns">

      <div class="column is-11">
        <div class="tile is-ancestor">
          <div class="tile is-vertical">

            <!-- Tile no.1 -->
            <div class="tile">

              <div class="tile is-parent is-1">
                <div class="tile is-child">
                  <!-- empty tile -->
                </div>
              </div> <!-- .tile.is-parent -->

              <div class="tile is-parent is-vertical is-7">
                <div class="tile is-child">
                  <h3 class="text-black">Description</h3>
                  <p class="left-line blue">
                    {{ project.description }}
                  </p>
                  <h3 class="text-black">Links</h3>

                  {% if links %}
                    <ul>
                      {% for link in links %}
                        {% if link.project_id == project.id %}
                          <li>
                            <a class="link" href="{{ link.url }}">{{ link.url_name }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div> <!-- .tile.is-parent -->

            </div> <!-- .tile -->

            <!-- Tile no.2 -->
            <div class="tile">
              <h5 class="blue-text">See my other work</h5>
            </div> <!-- .tile -->

            <!-- Tile no.3 -->
            <div class="tile">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div class="bottom-line blue"></div>
                  </div>
                  <div class="level-item">
                    <div class="button-text blue-text">NEXT</div>
                  </div>
                </div> <!-- level-left -->
              </div> <!-- .level -->
            </div> <!-- .tile -->

          </div> <!-- .tile.is-vertical -->
        </div> <!-- .tile.is-ancestor -->
      </div> <!-- .column.is-11 -->
      {% endfor %}

      <div class="column is-1">
        <div class="buttons-and-the-line">

          {% if is_paginated %}
            <!-- ARROW UP -->
            {% if page_obj.has_previous %} <!-- enabled -->
              <a href="?page={{ page_obj.previous_page_number }}">
                {% block prev-proj %}
                  {% include "partials/arrow-button.html" with color="blue" direction="up" active=True id="prev-proj" %}
                {% endblock %}
              </a>
            {% else %} <!-- disabled -->
              {% block prev-proj-inactive %}
                {% include "partials/arrow-button.html" with direction="up" active=False %}
              {% endblock %}
            {% endif %}


            <!-- INDICATION -->
            <div id="indication">
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <span style="height: calc(100% / {{ paginator.count }}); top: calc(calc({{ i }} - 1) * calc(100% / {{ paginator.count }}));"></span>
                {% else %}
                  <a href="?page={{ i }}">
                    <span style="height: calc(100% / {{ paginator.count }}); top: calc(calc({{ i }} - 1) * calc(100% / {{ paginator.count }}));"></span>
                  </a>
                {% endif %}
              {% endfor %}
            </div>


            <!-- ARROW DOWN -->
            {% if page_obj.has_next %} <!-- enabled -->
              <a href="?page={{ page_obj.next_page_number }}">
                {% block next-proj %} <!-- is active? -->
                  {% include "partials/arrow-button.html" with color="blue" direction="down" active=True id="next-proj" %}
                {% endblock %}
              </a>
            {% else %} <!-- disabled -->
              {% block next-proj-inactive %}
                {% include "partials/arrow-button.html" with direction="down" active=False %}
              {% endblock %}
            {% endif %}
          {% endif %}

        </div>
      </div>

      <!-- moible pagination -->
      <div class="column is-12 mobile-pagination">
        <div class="level is-mobile">
          <div class="level-left">
            {% if is_paginated %}

              <div class="level-item">
                <!-- ARROW LEFT -->
                {% if page_obj.has_previous %} <!-- enabled -->
                  <a href="?page={{ page_obj.previous_page_number }}">
                    {% block mobile-prev-proj %}
                      {% include "partials/arrow-button.html" with color="blue" direction="left" active=True id="mobile-prev-proj" %}
                    {% endblock %}
                  </a>
                {% else %} <!-- disabled -->
                  {% block mobile-prev-proj-inactive %}
                    {% include "partials/arrow-button.html" with direction="left" active=False %}
                  {% endblock %}
                {% endif %}
              </div>

              <div class="level-item">
                <ul class="pagination-list">
                  {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li>
                      <h5 class="blue-text">{{ i }}</h5>
                    </li>
                    {% else %}
                      <li>
                        <a href="?page={{ i }}">
                          <h5 class="bright-grey-text">{{ i }}</h5>
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>

              <div class="level-item">
                <!-- ARROW RIGHT -->
                {% if page_obj.has_next %} <!-- enabled -->
                  <a href="?page={{ page_obj.next_page_number }}">
                    {% block mobile-next-proj %} <!-- is active? -->
                      {% include "partials/arrow-button.html" with color="blue" direction="right" active=True id="mobile-next-proj" %}
                    {% endblock %}
                  </a>
                {% else %} <!-- disabled -->
                  {% block mobile-next-proj-inactive %}
                    {% include "partials/arrow-button.html" with direction="right" active=False %}
                  {% endblock %}
                {% endif %}
              </div>

              {% endif %}
          </div>
        </div>
      </div>
    </div> <!-- .columns -->
  </div> <!-- .container -->
</section>

<script type="text/javascript">
  columns = document.querySelectorAll('#project-datail .container .columns');

  // Load elements on the project-detail page
  window.addEventListener('load', function () {
    columns[0].style.opacity = 1;
  }, false);
  // quick script for loading description and stuff when appropriate
  window.addEventListener('scroll', function () {
    if (window.scrollY > 0.3*window.innerHeight) {
      columns[1].style.opacity = 1;
    }
  }, false);
</script>
{% endblock %}
