#home {
  .hero-text {
    height: 50vh;
    display: flex;
    align-items: flex-end;

    img {
      width: 50%;
      padding-bottom: 3%
    }
  }

  .hero-description {
    display: flex;
    align-items: flex-start;

    p {
      margin-top: 1em;
    }
  }

  .hero-buttons {
    margin-top: 5vh;
    justify-content: left;
  }

  .hero-take-a-tour {
    @media (min-height: 1000px){ margin-top: 22vh; }
    @media (min-height: 782px){ margin-top: 15vh; }
    @media (min-height: 576px) { margin-top: 5vh; }
    margin-top: 5vh;

    .button-text {
      padding: 0 0.5em 0 0.5em;
    }
  }
}
