{% load static %}

{% if active %}
  {% with "frame-"|add:id as frame_id %}
  {% with "img/buttons/frame-"|add:color|add:"@2x.png" as frame_path %}
  {% with "img/buttons/btn-down-"|add:color|add:"@2x.png" as diamond_path %}
    <div class="btn-arrow {{ color }} {{ direction }}" onmouseover="arrowMouseOver('{{ frame_id }}', '{{ id }}')" onmouseout="arrowMouseOut('{{ frame_id }}', '{{ id }}')" onclick="location.href='{{ go_to_id }}'">
      <img id="{{ frame_id }}" src="{% static frame_path %}">
      <img id="{{ id }}" src="{% static diamond_path %}">
    </div>

    <div class="mobile-btn-arrow {{ color }} {{ direction }}" onclick="location.href='{{ go_to_id }}'">
      <img src="{% static diamond_path %}">
    </div>


  {% endwith %}
  {% endwith %}
  {% endwith %}
{% else %}
  <div class="btn-arrow {{ direction }}">
    <img src="{% static 'img/buttons/inactive-down-btn@2x.png' %}">
  </div>

  <div class="mobile-btn-arrow {{ direction }}">
    <img src="{% static 'img/buttons/mobile-inactive-down-btn@2x.png' %}">
  </div>
{% endif %}
