{% load static %}

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="max-width: 100vw;">
  <div class="container">
    <div class="navbar-brand">
      <!-- <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a> -->

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mobileMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mobileMenu" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">Home</a>
        <a href="/#services" class="navbar-item">Services</a>
        <a href="/#projects" class="navbar-item">Projects</a>
        <a href="/#contact" class="navbar-item">Contact</a>
        <a href="{% url 'hire-me' %}" class="navbar-item">Hire Me</a>
      </div>
    </div>

    <div id="desktopMenu" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">Home</a>
        <a href="/#services" class="navbar-item">Services</a>
        <a href="/#projects" class="navbar-item">Projects</a>
        <a href="/#contact" class="navbar-item">Contact</a>
        <a href="{% url 'hire-me' %}" class="navbar-item">Hire Me</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <img src="{% static 'img/social-media-icons/facebook-square-brands-blue@2x.png' %}" alt="facebook">
        </div>
        <div class="navbar-item">
          <img src="{% static 'img/social-media-icons/git-square-brands-blue@2x.png' %}" alt="github">
        </div>
        <div class="navbar-item">
          <img src="{% static 'img/social-media-icons/linkedin-brands-blue@2x.png' %}" alt="linkedin">
        </div>
        <div class="navbar-item">
          <img src="{% static 'img/social-media-icons/twitter-square-brands-blue@2x.png' %}" alt="twitter">
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">

  let desktopMenuItems = document.querySelectorAll('#desktopMenu.navbar-menu .navbar-start .navbar-item');
  let mobileMenuItems = document.querySelectorAll('#mobileMenu.navbar-menu .navbar-start .navbar-item');

  window.addEventListener('load', function () {

    // Switch active state of clicked buttons
    if (document.body.contains(document.getElementById('hire-me'))) {
      desktopMenuItems[4].classList.add('is-active');
    } else if (document.body.contains(document.getElementById('project-datail'))) {
      desktopMenuItems.forEach(item => {
        item.classList.remove('is-active');
      });
    } else {
      addActiveClassAtIndex(desktopMenuItems);
    }

    // get rid of the mobile menu on desktops
    if (window.innerWidth > 768) {
      document.getElementById('mobileMenu').style.display = 'none';
    }

  }, false);

  // make sure the mess won't pop back in when the user start resizing the window
  window.addEventListener('resize', function () {
    if (window.innerWidth > 768) {
      document.getElementById('mobileMenu').style.display = 'none';
    }
  }, false);

  // Expand menu on mobiles (taken from bulma website)
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }
  });
</script>
