<nav class="navbar is-fixed-top">

  <div class="navbar-brand">
    <a href="" class="navbar-item">
      <h1 class="title is-4">NONE</h1>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="#" class="navbar-item">Home</a>
      <a href="#" class="navbar-item">About Us</a>
      <a href="#" class="navbar-item">Content</a>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a href="#" class="navbar-item">F</a>
      <a href="#" class="navbar-item">T</a>
      <a href="#" class="navbar-item">L</a>
    </div>
  </div>

</nav>
