/* HOME */
@media screen and (max-width: 768px) {
  #home {
    background-image:       $background-image;
    background-repeat:      no-repeat;
    background-attachment:  scroll;
    background-size:        cover;
    background-color:       #999;
    background-position:    center 5%;

    .hero-text {
      // Navbar is around 52px
      height: 40vh;

      img {
        width: 70%;
      }
    }

    .column {
      height: 60vh;

      @media screen and (max-height: 510px) {.hero-buttons .level-item:nth-child(1) {display: none;}}

      .hero-take-a-tour {
        width: 100vw;
        bottom: 5rem;

        .level-item{
          // dissapear the line and take a tour text
          &:nth-child(1) {display: none;}
          &:nth-child(2) {display: none;}
          @media screen and (max-height: 670px) { &:nth-child(3) {display: none;} }
        }
      }
    }
  }
}

/* SERVICES */
@media screen and (max-width: 768px) {
  #services {
    .columns:nth-child(1) {margin-bottom: 10rem;}
    .columns:nth-child(2) {height: 120rem;}
    .columns:nth-child(3) span:nth-child(1) {width: 100%;}
  }
}

/* BUTTONS */
@media screen and (max-width: 768px) {
  .btn-wrapper { display: none; }

  .mobile-btn-wrapper {
    display: block;
    height: 3rem;
    width: 18rem;
    position: relative;
    left: 0;
    margin-right: 1rem;

    .btn-with-text {
      background: rgba($blue, 0.06);
      position: absolute;
      height: 100%;
      width: 100%;
      color: $blue;
      transition: .3s ease;
      border: 2px solid;
      cursor: pointer;

      &.white {
        background: rgba($white, 0.2);
        color: $white;
      }
    }
  }

  .btn-arrow { display: none; }

  .mobile-btn-arrow {
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    cursor: pointer;

    img {
      position: absolute;
      left: 0;
      top: 0;
      transition: .3s ease;
    }

    &.blue { &:active { filter: drop-shadow(0 0 4px rgba($medium-grey, 1)); } }
    &.white { &:active { filter: drop-shadow(0 0 4px rgba($bright-grey, 1)); } }

    &.up { transform: rotate(180deg); }
    &.down { /* nothing, it's already pointing down */ }
    &.left { transform: rotate(90deg); }
    &.right { transform: rotate(-90deg); }
  }
}

/* PROJECTS */
@media screen and (max-width: 768px) {
  #projects {
    .columns:nth-child(n+1){
      .column.is-4 {
        padding-left: 4rem;
        padding-right: 4rem;
        h3 {left: 4rem;}
      }
      .column.is-8 {
        padding-right: 4rem;

        .left-line.blue {display: none;}

        .mobile-card-button {
          display: block;
          padding: 1.5rem 0;
        }
      }
    }
  }
}

/* CONTACT */
@media screen and (max-width: 768px) {
  #contact {
    height: 90rem;
    .columns:nth-child(2) .column:nth-child(2) {
      padding-top: 5rem;

      // these are 'meet me' icons
      .level img {
        height: 4rem !important;
        width: 4rem !important;
      }

      .social-media-icons {
        display: flex;

        .level-left {
          width: 100%;

          .level-item {
            height: 4rem !important;
            width: 4rem !important;
            margin: .75rem;
            img {
              height: 4rem;
              width: 4rem;
            }
          }
        }
      }
    }

    // 'back to top' button
    .columns:nth-child(3) {
      .level-item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

/* CONTACT */
@media screen and (max-width: 768px) {
  #project-datail {
    background-image:       $background-image;
    background-repeat:      no-repeat;
    background-attachment:  scroll;
    background-size:        cover;
    background-color:       #999;
    background-position:    center 5%;

    .columns:nth-child(2) {
      .column.is-11 .tile.is-ancestor .tile.is-vertical {
        .tile:nth-child(2) h5, .tile:nth-child(3) .level {display: none;}
      }

      .column.is-1 {display: none;}

      .mobile-pagination {
        display: block;
        position: relative;

        .level {
          position: absolute;
          bottom: 9rem;
          width: 90%;

          .level-left {
            margin: auto;

            ul li {
              padding: 0 .75rem;
            }
          }
        }
      }
    }
  }
}
